.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    grid-column: 2;
    grid-row: 2;
    background: radial-gradient(circle at 20% 30%, rgba(255, 76, 76, 0.2), transparent 60%),
                radial-gradient(circle at 80% 70%, rgba(76, 150, 255, 0.2), transparent 60%),
                #0f0f0f;
}


.title {
    display: block;
    color: white;
}

.cataloge {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en PC */
    gap: 50px;
    width: 100%;
    justify-items: center; /* centra las imágenes dentro de la celda */
}

.elements {
    text-align: center;
}

.item-name {
    color: white;
}

.images {
    width: 250px;
    height: auto;
    border-radius: 20px;
}

.paragraph-images {
    color: white;
}

/* 📱 Vista móvil */
@media (max-width: 900px) {
    .projects {
        flex-direction: column;
    }
    .cataloge {
        grid-template-columns: 1fr; /* 1 columna en móviles */
    }
}
